$mloaded = 1;
@categoryorder = qw(general staff);
$cat{'general'} = "general,test";
$cat{'staff'} = "announcements,recycle";
$catinfo{'general'} = "General Category||0";
$catinfo{'staff'} = "Forum Staff|Administrator, Global Moderator|0";
$board{'general'} = "General Board||1";
$board{'test'} = "Test Zone||";
$board{'announcements'} = "Global Announcements||";
$board{'recycle'} = "Recycle Bin||";

1;