<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!-- YaBB 2.5 AE $Revision: 1.6.2.2 $ -->
<title><yabb title></title>
<meta http-equiv="Content-Type" content="text/html; charset=<yabb charset>" />
<yabb style>
<yabb syntax_js>
<script language="JavaScript1.2" type="text/javascript" src="<yabb html_root>/YaBB.js"></script>
<script language="JavaScript1.2" type="text/javascript">
<!--
//force no cache
if ((navigator.appVersion.substring(0,1) == "5" && navigator.userAgent.indexOf('Gecko') != -1) || navigator.userAgent.search(/Opera/) != -1) {
	document.write('<meta http-equiv="pragma" CONTENT="no-cache" />');
}
<yabb javascript>
// -->
</script>
</head>
<body>
<div id="ImageAlert" style="visibility:hidden; position:fixed; background-color:#AAAAAA; width:200px; top:30%; left:41%">
	<div id="ImageAlertText" style="background-color:#EEEEEE; text-align:center; padding: 3px; margin:1px;"> </div>
	<div id="ImageAlertPic" style="background-color:#FFFFFF; text-align:center; margin:1px;"> </div>
</div>
<a name="pagetop">&nbsp;</a><br />
<div id="container">
<div class="seperator">
<table width="100%" align="center" cellpadding="2" cellspacing="1" border="0">
	<tr>
		<td class="titlebg" align="center">
		<div style="float: left; width: 20%; padding-top: 4px; padding-bottom: 4px; text-align: center;" class="headerwelc">&nbsp;</div>
		<div style="float: left; width: 60%; padding-top: 5px; padding-bottom: 5px; text-align: center;" class="headerwelc"><yabb uname><yabb im><br /><yabb langChooser></div>
		<div style="float: left; width: 20%; padding-top: 4px; padding-bottom: 4px; text-align: right;"><yabb searchbox></div>
		</td>
	</tr>
	<tr>
		<td class="windowbg2" valign="top">
		<table width="100%">
			<tr>
				<td width="500">
				<a href="http://www.yabbforum.com"><img src="<yabb images>/yabblogo.png" alt="YaBB - Yet another Bulletin Board" title="YaBB - Yet another Bulletin Board" border="0" /></a>
				</td>
				<td valign="top">
				<div id="yabbclock" style="font-weight: bold; padding-left: 20px; padding-top: 10px; font-size: 12px;"><yabb time><yabb admin_alert></div>
				<div id="fscroller" style="padding-top: 5px; padding-left: 20px; font-size: 12px;"><yabb news></div>
				</td>
			</tr>
			<tr>
				<td valign="middle" align="center" colspan="2">
				<div style="float: left; width: 99%; text-align: center;"><yabb menu></div>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</div>
<br /><br />
<div class="nav" style="width: 100%; margin-left: auto; margin-right: auto; text-align: left;"><yabb boardlink> <yabb navigation></div>
<yabb main>
<div style="width: 100%; margin-left: auto; margin-right: auto; text-align: right; padding-top: 10px;"><yabb forumjump></div>
<div class="copyright" style="text-align: center;">
<br />
<yabb copyright><br /><yabb freespace><br />
<a href="http://validator.w3.org/feed/" target="_blank"><img src="<yabb images>/valid-rss.png" alt="Valid RSS" title="Valid RSS" height="18" border="0" /></a>
<a href="http://validator.w3.org/check/referer" target="_blank"><img src="<yabb images>/xhtml.gif" alt="Valid XHTML" title="Valid XHTML" border="0" /></a>
<a href="http://jigsaw.w3.org/css-validator/" target="_blank"><img src="<yabb images>/css.gif" alt="Valid CSS" title="Valid CSS" border="0" /></a>
<a href="http://www.perl.com" target="_blank"><img src="<yabb images>/perl.gif" alt="Powered by Perl" title="Powered by Perl" border="0" /></a>
<a href="http://www.sf.net/projects/yabb" target="_blank"><img src="<yabb images>/sf.gif" alt="Source Forge" title="Source Forge" border="0" /></a><br />
<yabb debug>
<br /><br />
</div>
</div>
<script language="JavaScript1.2" type="text/javascript">
<!--
sh_highlightDocument();
// -->
</script>
</body>
</html>
