/*--------------------------------------------------------*/
/*                      YaBB 2010                         */
/*--------------------------------------------------------*/
/*      Created by: XIMinc http://www.ximinc.com          */
/*            YaBB http://www.yabbforum.com               */
/*--------------------------------------------------------*/
/*    You may adapt elements of this CSS in your own      */
/*   projects, but please give credit to yabbforum.com.   */
/*--------------------------------------------------------*/
/*  This is the css file for YaBB 2.5 AE default Template */
/*--------------------------------------------------------*/
/* $Revision: 1.26 $ */


/* General layout */
a:focus {
	outline: black dotted 0px;
}
a {
	font-weight: normal;
	color: #333366;
	font-family: Verdana, Arial, Sans-Serif;
	text-decoration: none;
	outline: 0;
}
a:hover {
	color: #333366;
	font-family: Verdana, Arial, Sans-Serif;
	text-decoration: underline;
	outline: 0;
}
a:visited  {
	font-weight: normal;
	color: #333366;
	font-family: Verdana, Arial, Sans-Serif;
 }
body {
	padding: 0;
	background-color: #eeeeee;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-size: 12px;
	margin-top: 5px;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	min-width: 770px;
}
form {
	display: inline;
	padding: 0px;
	margin: 0px;
}
.button {
	background-color: #F1F2F4;
	background-image: url(./default/inputbutton.png);
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer; 
}
.titlecorner {
	background-color: #cdcccb;
	background-image: url(./default/rndcorner.png);
	background-repeat:no-repeat;
}
.titlecorner2 {
	background-color: #cdcccb;
	background-image: url(./default/rndcorner2.png);
	background-repeat:no-repeat;
	background-position:right;
}
.tabtitle {
	font-weight: bold;
	font-style: normal;
	font-size: 11px;
	font-family: Verdana, Arial, Sans-Serif;
	color : #01005f;
	background-color: #cdcccb;
	background-image: url(./default/catbg.png);
}
.tabtitle a {
	font-weight: bold;
	font-style: normal;
	font-size: 11px;
	color : #01005f;
	text-decoration: none;
}
.tabtitle a:hover {
	color: #01005f;
	text-decoration: none;
}
#maincontainer{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border-top: 0px;
	margin-bottom: 10px;
}
#container{
	width: 100%;
	background-color: #cccccc;
	padding: 0px;
	border: 0px;
	margin: 0px;
	padding-left: 1px;
	padding-right: 1px;
	color: #000033;
}


/* Advanced Tabs start */
.menutop {
	height: 24px;
	background-color: #cccccc;
	background-image: url(./default/menutop.png);
	text-align: left;
}
.mainbottom {
	height: 22px;
	width: 100%;
	background-color: #cccccc;
	background-image: url(./default/grad_bottom.png);
	text-align: left;
}
.tabmenuleft {
	height: 23px;
	text-align: left;
	background-color: #cccccc;
	background-image: url(./default/tableft211.png);
	background-repeat: no-repeat;
}
.tabmenuright {
	height: 23px;
	text-align: left;
	background-color: #cccccc;
	background-image: url(./default/tabright211.png);
	background-repeat: no-repeat;
}
.tabmenu {
	height: 23px;
	background-color: #cccccc;
	background-image: url(./default/tab211.png);
	text-align: left;
}
.tabmenu span {
	float: left;
	height: 23px;
	background-color: #cccccc;
	background-image: url(./default/tab211.png);
	background-repeat: repeat-x;
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}
.tabmenu span a {
	font-size: 11px;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #000033;
	font-weight: normal;
	text-decoration: none;
	white-space: nowrap;
}
.tabmenu span a:hover {
	color: #444444;
	background-image: url(./default/tab_selected211.png);
	background-repeat: repeat-x;
	text-decoration: none;
}
.tabmenu span.selected {
	font-weight: bold;
	background-color: #cccccc;
	background-image: url(./default/tab_selected211.png);
	background-repeat: repeat-x;
}
.rightbox {
	height: 23px;
	text-align: center;
	background-color: #cccccc;
	background-image: url(./default/searchbg211.png);
	background-repeat: repeat-x;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #000033;
}
/* Advanced Tabs end */


.usermenu {
	width: 96%;
	height: 24px;
	margin-left: auto;
	margin-right: auto;
	border: 1px #88A8E0 outset;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
}
.usercontainer{
	width: 92%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 12px;
	padding-bottom: 20px;
	background-color: #88A8E0;
	border: 1px #88A8E0 outset;
	border-top: 0;
	margin-left: auto;
	margin-right: auto;
}
.containerbg {
	background-color: #9CB9F3;
}
input {
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
}
textarea {
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
}
select {
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 10px;
}
select optgroup {
	color: #000000;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 10px;
}
.copyright {
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	color: #62686F;
}
.copyright a {
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	color: #333366;
}


/* News fader fore- and background colors */
.newsfader {
	color: #0000ff;
	background-color: #FEFEFE;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Sans-Serif;
	text-decoration: none;
}
#fscroller {
	line-height: 1.3;
}


/* users/members on-off-away line status */
.useronline {
	font-weight: bold;
	color: #138a03;
}
.useroffline {
	font-weight: bold;
	color: #818281;
}
.useraway {
	font-weight: bold;
	color: #6078B0;
}


/* YaBB navigation links */
.nav {
	font-weight: bold;
	font-size: 10px;
	color : #000033;
	text-decoration: none;
}
.nav a {
	font-weight: bold;
	font-size: 10px;
	color : #000033;
	text-decoration: none;
}
.nav a:hover {
	color: #333366;
	text-decoration: underline;
}


/* Quick-Profile-Links */
.QuickLinks {
	background-color: #DDDDDD;
	position: absolute;
	display: none;
	margin-top: 15px;
	margin-left: 0px;
	padding: 0px;
	border: 1px;
	border-color: #000000;
	border-style: solid;
	list-style: none;
	text-indent: 0px;
}
.QuickLinks li {
	background-color: #EEEEEE;
	white-space: nowrap;
	font-size: 10px;
	margin-left: 0px;
	padding: 3px;
	list-style: none;
	text-indent: 0px;
}
.QuickLinks li:hover {
	background-color:#FFFFFF;
}
.QuickLinks a:hover {
	text-decoration:none;
}


/* BoardIndex*/
.shadow {
	background-color: #eeeeee;
	background-image:url(./default/windowbgds.png);
	background-repeat:repeat-x;
	background-position:top;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Sans-Serif;
	color: #304B58;
}


/* YaBB alternating bgcolors */
.userinfo {
	background-color: #ececec;
	background-image:url(./default/usrinfobg.png);
	background-repeat:repeat-x;
	background-position:top;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Sans-Serif;
	color: #304B58;
}
.windowbg {
	background-color: #dddddd;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Sans-Serif;
	color: #304B58;
}
.windowbg2 {
	background-color: #eeeeee;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Sans-Serif;
	color: #304B58;
}


/* Misc/title/category colors */
.dividerbot {
	border-bottom: 1px #A7B8CC solid;
}
.dividertop {
	border-top: 1px #A7B8CC solid;
}
.hr {
	height: 1px;
	color: #6078B0;
	background-color: #6078B0;
	border: 0px solid #6078B0;
	border-top: 0px solid #6078B0;
}
.bordercolor {
	font-size: 12px;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	background-color: #B1BDC9;
}
.small {
	font-size: 10px;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
}
.top {
	font-style: normal;
	font-size: 11px;
	color: #475F79;
}
.titlebg {
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #01005f;
	background-color: #b5b5b5;
}
.titlebg a {
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #01005f;
}
.titlebg a:hover {
	text-decoration: underline;
}
.catbg {
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #01005f;
	background-color: #aaaaa9;
	background-image:url(./default/catbg2.png);
}
.catbg a {
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #01005f;
}
.catbg a:hover {
	text-decoration: underline;
}
.message {
	font-size: 8pt;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #62686F;
}
.message a {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #900000;
	background-color: transparent;
}
.message a:hover {
	text-decoration: underline;
	color: #000000;
	background-color: transparent;
}
.droppageindex {
	float: left;
	font-family: Verdana, Sans-Serif;
	background-color: #FFFFFF;
	color: #000000;
	padding: 0px;
	padding-left: 4px;
	margin: 0px;
	border: 2px inset;
}
.droppages {
	height: 14px;
	padding-left: 1px;
	padding-right: 1px;
}
.droppages a {
	color: #000000;
	font-size: 9px;
	font-weight: normal;
}
.highlight {
	font-size: inherit;
	font-family: inherit;
	font-weight: bold;
	font-style: inherit;
	background-color: #FFFF33;
	color: #000000;
}


/* Image fonts */
.imgbg {
	font-style: normal;
	font-size: 10px;
	color: #FFFFFF;
}
.imgcatbg {
	font-style: normal;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}
.imgtitlebg {
	font-style: normal;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}
.imgwindowbg {
	font-style: normal;
	font-size: 9px;
	color: #005177;
}
.imgmenu {
	font-style: normal;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}


/* Post quote/code colors */
.quote {
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #000000;
	background-color: #E8EBEF;
	border: 1px #34689A solid;
	width: 90%;
	padding: 4px;
}
.code {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-family: Courier, Courier New, Sans-Serif;
	color: #000000;
	background-color: #CCCCCC;
	border: 1px #34689A solid;
	width: 90%;
	padding: 4px;
}
.editbg {
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	background-color: #FFFEDF;
	border: 1px #cc0000 solid;
	width: 90%;
	padding: 4px;
}
.forumjump {
	color: #000000;
	background-color: #F5F5DC;
	border-bottom: 1px dashed #D6B2FF;
	border-top: 1px dashed #D6B2FF;
	font-weight: bold;
}
.forumjumpcat {
	color: #000000;
	background-color: #FFFEDF;
	border-bottom: 1px dashed #D6B2FF;
	border-top: 1px dashed #D6B2FF;
}
.forumjumpcatm {
	color: #000000;
	background-color: #EEE8AA;
	font-style: italic;
}
.forumjumpcatmf {
	color: #000000;
	background-color: #EEE8AA;
	font-style: italic;
	border-bottom: 1px dashed #C5AAEE;
}
.forumcurrentboard{
	color: #000000;
	background-color: #F0FFF0;
	font-weight: bold;
}


/* Anything below here is just for the template */
#PMcontainer {
	float: left;
	background-color: #cccccc;
	width: 100%;
	padding: 0px;
	border: 0px;
	margin-bottom: 10px;
}
.topline {
	border-top: 1px solid #34689A;
}
.topheader {
	background: #4981B8;
	margin-bottom: 10px;
}
.boardcontainer {
	background-color: #cccccc;
	border: 0;
}
.displaycontainer {
	width: 100%;
	padding: 1px;
	background-color: #cccccc;
  	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
	-border-radius: 10px;

}
.navbarcontainer{
	margin: 0px;
}

